
.background-common {
  background-color: $dark;
  padding-bottom: 15%;

  .background-gradient {
    background: linear-gradient($primary, $green-gradient, $blue-gradient, $dark-blue-gradient);
    height: 350px;
    position: relative;

    h2 {
      font-weight: 300;
      color: #fff;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      font-size: 32px;
    }

    p {
      color: #fff;
      font-size: 48px;
      margin-top: 20px;
      font-weight: bold;

      span {
        font-size: 24px;
        font-weight: 300;
      }
    }

    .investment {
      margin-left: 10px;

      p {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 0;
      }
    }

    .carousel {
      height: auto;

      .q-carousel {
        &__prev-arrow {
          left: 0;
        }

        &__next-arrow {
          right: 0;
        }
      }
    }

    .investment-card {
      .card-border {
        padding: 3px;
        position: relative;
        border-radius: 15px;
      }

      .card-success {
        background: linear-gradient($primary, $green-gradient, $blue-gradient, $dark-blue-gradient);
      }

      .card-danger {
        background: linear-gradient(rgb(183, 15, 15), rgba(184, 17, 17, 0.9), rgba(31, 108, 180, 0.81), rgb(8, 68, 101));
      }

      .card {
        background: $secondary;
        color: white;
        padding: 10px 15px 5px 15px;
        border-radius: 15px;

        .card-line {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          margin-bottom: 5px;

          .success {
            color: $primary;
          }

          .danger {
            color: $negative;
            font-weight: normal;
          }
        }

        .card-line-top {
          .name-investment {
            display: flex;
            align-items: center;

            h3 {
              font-size: 24px;
              font-weight: 600;
            }

            img {
              margin-left: 10px;
            }
          }

          p {
            font-size: 20px;
            font-weight: normal;
            margin-top: 0;
            color: $primary;
          }
        }

        .card-line-mid {
          img {
            width: 97px;
            height: 33px;
          }

          p {
            font-size: 24px;
            font-weight: bold;
            margin-top: 0;
            color: $primary;
          }
        }

        .card-line-bottom {
          align-items: center;

          p {
            font-size: 15px;
            font-weight: 300;
            margin: 0;

            span {
              font-weight: 500;
            }
          }

          .prices {
            p {
              font-size: 15px;
              font-weight: 300;
              margin: 0;

              span {
                font-size: 16px;
                font-weight: 600;
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
  }

  .content-recommendation {
    position: relative;
    margin-top: 150px;
    color: $white;

    .recommendation {
      margin-left: 10px;

      p {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 0;
      }
    }

    .recommendation-card {
      padding: 5px 15px 5px 15px;

      .card-border {
        padding: 3px;
        position: relative;
        background-color: $dark-blue-gradient;
        border-radius: 15px;
      }

      .card {
        background: $secondary;
        color: white;
        padding: 10px 15px 5px 15px;
        border-radius: 15px;

        .card-line {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .card-line-top {
          .name-investment {
            display: flex;
            align-items: baseline;

            h3 {
              font-size: 24px;
              font-weight: 600;
            }

            img {
              margin-left: 10px;
            }
          }

          p {
            font-size: 20px;
            font-weight: normal;
            margin-top: 0;
            color: $primary;
          }

          .recommendation-info {
            display: flex;
            justify-content: space-between;

            .recommendation-price {
              text-align: center;

              p {
                font-size: 16px;
                font-weight: 600;
                color: $white;
                margin-bottom: 0;
              }

              span {
                font-size: 14px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }
}
